*{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

main{
    background: #f0f2f5;
}

main .imaTexs img {
    height: 106px;
    padding: 24px 0 0px;
    margin: 0 0 -16px -30px;
}

main .imaTexs h2 {
    font-size: 26px;
    line-height: 28px;  
    font-weight: normal;
    padding: 0;
    margin: 0;
}

main .mainContainer {
    display: flex;
    align-items: center;
    margin: 0 40px;
    width: auto;
    padding: 20px 0;
    justify-content: space-between;
}

main .imaTexs{
    width: 400px;
    height: 400px;
    border-radius: 20px;
    object-fit: cover; 
}

main .totalLogin{
    padding: 64px 38px 0px 0px;
}

main .totalLogin .loginTex{
    width: 400px;
    height: auto;
    border: #dbdddf 2px solid;
    text-align: center;
    display: block;

    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 10px 0 24px;
    width: 396px;
}

main .totalLogin .loginTex .login .inputLogin input{
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    height: 22px;
    line-height: 16px;
    vertical-align: middle;
    margin: 5px 0;
}

main .totalLogin .loginTex .login .inputLogin input::placeholder{
    color: #96949c;
}

main .totalLogin .loginTex .login .inputLogin input:focus{
    border-color: #1a79f2;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px #e7f3fe;
    outline: 0 none;
}

main .totalLogin .loginTex .login .buttonLogin button{
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 362px;
    color: rgb(255, 255, 255);
    margin: 12px;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
}

main .totalLogin .loginTex .login .buttonLogin button:hover{
    background-color: #0360da;
}

main .totalLogin .loginTex .login .buttonLogin .buttonLoginGreen{
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    background-color: #42b72a;
    width: 190px;
}

main .totalLogin .loginTex .login .buttonLogin .buttonLoginGreen:hover{
    background-color: #32aa1a;
}

main .totalLogin .loginTex .login .lineLoguin{
    border-bottom: 1px solid #dbdde1;
    width: 362px;
    margin: 20px 0px 10px 16px;
}

main .totalLogin .loginTex .login .forgotLoguin{
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

main .totalLogin .texCreateNewPage{
    height: 200px;
    width: 388px;
    text-align: center;
}   

main .totalLogin .texCreateNewPage p{
    border-top: none;
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-top: 0;
}

main .totalLogin .texCreateNewPage a{
    border-top: none;
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-top: 0;
    text-decoration: none;
    font-weight: 600;
}

footer{
    font-size: 12px;
    display: block;
    margin: 0 auto;
    width: 980px;
    font-family: Helvetica, Arial, sans-serif;
}

footer span{
    padding: 0;
}

footer .meta{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #737373;
}

footer a{
    text-decoration: none;
    color: #737373;
}

footer .footerUlTop{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 20px;
}

footer .footerUlTop .espaFooter{
    padding: 0;
    color: #737373;
}

footer .footerUlTop li{
    padding-left: 12px;
}

footer .footerUlBottom{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 8px;
    margin-bottom: 10px;
}

footer .footerUlBottom li{
    padding: 4px 20px 4px 0px;
}

footer .lineLoguin{
    border-bottom: 1px solid #dbdde1;
    width: auto;
    margin: 8px 0px 0px 0px;
}

@media (min-width: 1075px) {
    main .mainContainer {
        margin: 0 auto;
        padding: 20px 0;
        position: relative;
        width: 980px;
    }
    main .imaTexs h2 {
        font-size: 28px;
        line-height: 28px;  
        font-weight: normal;
    }
    main .imaTexs{
        width: 548px;
        height: 400px;
        border-radius: 20px;
        object-fit: cover; 
    }
    main .imaTexs img {
        height: 106px;
        padding: 24px 0 0px;
    }
    main .totalLogin{
        padding: 75px 2px 0px 0px;
    }
}

@media (max-width: 940px) {
    main .mainContainer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    main .imaTexs h2 {
        font-size: 24px;
        line-height: 28px;  
        width: auto;
    }
    main .imaTexs{
        height: 138px;
        object-fit: cover; 
    }
    main .totalLogin .loginTex{
        width: 400px;
        height: auto;
        border: #dbdddf 2px solid;
        text-align: center;
        display: block;
    
        align-items: center;
        background-color: #fff;
        border: none;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
        box-sizing: border-box;
        margin: 40px 0px 0px 30px;
        padding: 10px 0px 24px 0px;
        width: 396px;
    }
    main .totalLogin .texCreateNewPage p{
        margin-left: 48px;
        margin-top: 28px;
    }
}